####################
#   Latex
####################

*.aux
*.acn
*.acr
*.alg
*.backup
*.bbl
*.bcf
*-blx.bib
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glg-abr
*.glo
*.glo-abr 
*.gls 
*.gls-abr 
*.glsdefs 
*.gz
*.idx
*.ilg
*.ind
*.ist
*.kilepr
*.lof
*.log
*.lot
*.maf
*.mp
*.mtc
*.mtc1
*.nav
*.out
project_document.pdf
*.snm
*.synctex.gz
*.texnicle
*.tmp
*.toc
*.tui 
*.xml
